# pdf files
*.pdf

# pycache files
*.pyc
__pycache__

# zip files
*.zip

# test files
test.fits
test.ipynb

# local files
catalogs/
models/
results/
# results_*/
spectrums/
# spectrums_*/
figures/
figures_*/

# config_*.yaml

# misc
exp1.jpg
exp2.jpg